<section class="py-5">
    <h1 class="display-3">
        Thank You
    </h1>
    <p class="lead">Check your email your book is in your inbox.</p>
    <a href="/" class="btn btn-dark btn-lg">Home</a>
</section>